*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}
nav{
    width: 100%;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 350px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 8px 15px;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

nav .menubtn{
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    color: black;
    display: none;
}

@media (max-width: 700px){
    nav img{
        width: 250px;
    }
    nav .menubtn{
        display: flex;
    }
    nav .nav-links{
        display: none;
    }
}

.sideNav{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: #3586ff;
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
}
.sideNav a{
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.sideNav .closebtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
    color: black;
    cursor: pointer;
}

@media (max-width: 700px){
    .sideNav{
        display: block !important;
        width: 0%;
		z-index: 2;
    }
}

@media(max-width: 700px){

    .p-text{
        margin: 0 auto;
        width: 65%;
    }
    .text-box h1{
        font-size: 16px;
    }
    .text-box p{
        padding: 10px;
        font-size: 12px;
    }

}

.gallery{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.gallery .main-title{
    color: #052e59;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.gallery .main-title::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
}
.gallery .main-title:hover::after{
    cursor: pointer;
    width: 20%;
}

.photos{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.wrapper{
    display: flex;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #fff;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #1863d4;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #1863d4;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    width: 100%;
    
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }










/*
.photos img{
    height: 250px;
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 400ms;
    
}

.photos img:hover{
    transition: all 1s ease;
    transform: scale(1.03);
}

@media (max-width: 700px){
    .gallery{
        width: 80%;
        margin: 0 auto;
    }

    .gallery .main-title{
        color: #052e59;
        font-size: 36px;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 10px;
    }
    .gallery .main-title:hover::after{
        cursor: pointer;
        width: 60%;
    }
}


*/






footer{
    top: 100px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}


footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}



footer .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social-icon li{
    list-style: none;
}
footer .social-icon li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}




.footer-box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.left-box{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.left-box .ul-menu{
    margin-top: 10px;
    display: inline-block;
    text-align: left;
}
.left-box .ul-menu li{
    margin-bottom: 5px;
    text-align: left;
    list-style: none;
    transition: 0.3s linear;
}
.left-box .ul-menu li a{
    font-size: 1em;
    color: white;
    text-decoration: none;
}
.left-box .ul-menu li:hover{
    transform: scale(1.2);
}


.right-box{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.contact-info{
    margin-top: 10px;
    display: inline-block;
    text-align: left;
}

.right-box a{
    text-decoration: none;
    text-align: left;
    align-items: left;
    justify-content: left;
    color: #3586ff;
}
.right-box .card-icon{
    font-size: 25px;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    margin-bottom: 5px;
    margin-right: 5px;
}
.right-box p{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: white;
}
.right-box a:hover .card-icon{
    background: none;
    color: #fff;
    transform: scale(1.2);
}

.left-box, .right-box{
    margin-top: 10px;
    margin-bottom: 20px;
}

.left-box h3, .right-box h3{
    text-align: center;
    color: white;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: bolder;
}

#copyright{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.clear-div{
    clear: both;
}

#hr1{
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
}

@media (max-width: 700px){
    footer{
        padding: 20px 25px;
    }
    .footer-box{
        width: 100%;
    }
    .left-box h3, .right-box h3{
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    .left-box{
        width: 40%;
        text-align: center;
    }
    .right-box{
        width: 60%;
        text-align: center;
    }
    .right-box .card-icon{
        font-size: 17px;
        background: #fff;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px !important;
        border-radius: 50%;
        transition: 0.3s linear;
        margin-bottom: 5px;
    }
    .right-box p{
        display: inline-block;
        font-size: 10px;
        font-weight: bolder;
        color: white;
        letter-spacing: 1px;
    }

    .left-box .ul-menu li a{
        font-size: 12px;
        color: white;
        text-decoration: none;
    }

    #copyright{
        color: white;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 12px;
    }
}