*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}
.container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.img-text{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.img-text img{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}
.img-text .title{
    text-align: center;
    color: #052E59;
    font-weight: bolder;
    font-size: 35px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 15px;
}
.main input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}
.userid, .password{
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
}
input::placeholder{
    color: black;
}

.main svg{
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

button{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    color: white;
    background-color: #052E59;
    margin-top: 15px;
    margin-bottom: 5px;
}
button:hover{
    cursor: pointer;
    background-color: #034a9b;
}