*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    width: 100%;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 350px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 8px 15px;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

nav .menubtn{
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    display: none;
}

@media (max-width: 700px){
    nav img{
        width: 250px;
    }
    nav .menubtn{
        display: flex;
    }
    nav .nav-links{
        display: none;
    }
}

.sideNav{
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0%;
    background-color: #3586ff;
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
}
.sideNav a{
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.sideNav .closebtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}

@media (max-width: 700px){
    .sideNav{
        display: block !important;
        width: 0%;
        z-index: 2;
    }
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width: 700px){

    .p-text{
        margin: 0 auto;
        width: 65%;
    }
    .p-text br{
        content: '';
    }
    .text-box h1{
        font-size: 16px;
    }
    .text-box p{
        padding: 10px;
        font-size: 12px;
    }

}

.buttons{
   width: 100%;
   margin: auto;
   text-align: center;
   padding-top: 15px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}


.a-btn{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    
}
.a-btn .a-card{
    position: relative;
    width: 182px;
    height: 248px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                    5px 5px 5px rgba(0,0,0,0.05),
                    -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 10px;
}

.a-btn .a-card .a-box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.a-btn .a-card:hover .a-box .nav-btn{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#000428, #004e92);
}

.a-btn .a-card .a-box .a-content{
    padding: 20px;
    text-align: center;
}
.nav-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 5px 5px;
    font-size: 13px;
    font-weight: bold;
    background: linear-gradient(45deg,#1d2671,#c33764);
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

@media(max-width: 700px){

    .a-btn{
        width: 100%;
    }
    .a-btn .a-card{
        width: 96px;
        height: 124px;
        margin: 10px;
        margin-bottom: 15px;
    }
    .a-btn .a-card .a-box{
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
    .nav-btn{
        padding: 2px 10px;
        font-size: 10px;
        font-weight: normal;
    }
    .nav-btn img{
        width: 80px;
    }

    .a-btn .a-card:hover .a-box .nav-btn{
        transform: translateY(0px);
        box-shadow: 0 10px 40px rgba(0,0,0,0.2);
        background: linear-gradient(45deg,#000428, #004e92);
    }

    /*
    .a-btn .down-card:hover .a-box .nav-btn{
        transform: translateY(50px);
        box-shadow: 0 10px 40px rgba(0,0,0,0.2);
        background: linear-gradient(45deg,#000428, #004e92);
    }
    */
}

@media(max-width: 1115px){

    .a-btn{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0;
        
    }
    .a-btn .a-card{
        position: relative;
        width: 152px;
        height: 218px;
        box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                    inset -5px -5px 5px rgba(255,255,255,0.5),
                        5px 5px 5px rgba(0,0,0,0.05),
                        -5px -5px 5px rgba(255,255,255,0.5);
        border-radius: 15px;
        margin: 10px;
    }
    
    .a-btn .a-card .a-box{
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #ebf5fc;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .nav-btn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border-radius: 15px;
        padding: 3px 3px;
        font-size: 13px;
        font-weight: bold;
        background: linear-gradient(45deg,#1d2671,#c33764);
        position: relative;
        cursor: pointer;
        text-align: center;
        transition: 0.5s;
    }
    
    .nav-btn img{
        width: 135px;
    }
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(266, 0, 0, 0.7);

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.facilities-col:hover img{
    transform: scale(1.07);
    transition: all 1s ease;
}



footer{
    top: 100px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}


footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}



footer .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social-icon li{
    list-style: none;
}
footer .social-icon li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}




.footer-box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.left-box{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.left-box .ul-menu{
    margin-top: 10px;
    display: inline-block;
    text-align: left;
}
.left-box .ul-menu li{
    margin-bottom: 5px;
    text-align: left;
    list-style: none;
    transition: 0.3s linear;
}
.left-box .ul-menu li a{
    font-size: 1em;
    color: white;
    text-decoration: none;
}
.left-box .ul-menu li:hover{
    transform: scale(1.2);
}


.right-box{
    width: 50%;
    float: left;
    height: auto;
    text-align: center;
}
.contact-info{
    margin-top: 10px;
    display: inline-block;
    text-align: left;
}

.right-box a{
    text-decoration: none;
    text-align: left;
    align-items: left;
    justify-content: left;
    color: #3586ff;
}
.right-box .card-icon{
    font-size: 25px;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    margin-bottom: 5px;
    margin-right: 5px;
}
.right-box p{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: white;
}
.right-box a:hover .card-icon{
    background: none;
    color: #fff;
    transform: scale(1.2);
}

.left-box, .right-box{
    margin-top: 10px;
    margin-bottom: 20px;
}

.left-box h3, .right-box h3{
    text-align: center;
    color: white;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: bolder;
}

#copyright{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.clear-div{
    clear: both;
}

#hr1{
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
}

@media (max-width: 700px){
    footer{
        padding: 20px 25px;
    }
    .footer-box{
        width: 100%;
    }
    .left-box h3, .right-box h3{
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    .left-box{
        width: 40%;
        text-align: center;
    }
    .right-box{
        width: 60%;
        text-align: center;
    }
    .right-box .card-icon{
        font-size: 17px;
        background: #fff;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px !important;
        border-radius: 50%;
        transition: 0.3s linear;
        margin-bottom: 5px;
    }
    .right-box p{
        display: inline-block;
        font-size: 10px;
        font-weight: bolder;
        color: white;
        letter-spacing: 1px;
    }

    .left-box .ul-menu li a{
        font-size: 12px;
        color: white;
        text-decoration: none;
    }

    #copyright{
        color: white;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 12px;
    }
}